#vp{
    position: relative;
}
.btn{
    position: absolute;
    bottom: 100px;
    left:50px;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 0;
    overflow: hidden;
    cursor: pointer;
}
span{
    padding: 12px;
    border-radius: 50px;
}
#play{
    background-color: blue;
}